#visual-english-ext {
	--color-main: hsl(270, 20%, 97%);
	--dark-txt: #03052e;
	--light-txt: #e7e8fc;
	--color-line: hsl(0, 0%, 85%);
	--color-danger: #ff1111;
	--shadow-card: 0 1px 40px 1px hsl(0, 0%, 0%, 0.3);

	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	height: 100vh;
	width: 375px;
	transform: translateX(0%);
	transition: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
}

#visual-english-ext ::-webkit-scrollbar {
	width: 2px;
	background-color: transparent;
}

#visual-english-ext ::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 72%);
	border-radius: 1px;
	border: 1px solid hsl(0, 0%, 72%);
}

#visual-english-ext {
	p {
		margin: 0;
		padding: 0;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(101%);
	}
}

#spell-book-ext-selection-point {
	position: fixed;
	z-index: 2147483647;
}
