@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200:0,500;0,700;1,100&display=swap");

#visual-english-ext {
  font-family: "Roboto", sans-serif;
  --color-main: hsl(270, 20%, 97%);
  --dark-txt: #03052e;
  --light-txt: #e7e8fc;
  --color-line: hsl(0, 0%, 85%);
  --color-danger: #ff1111;
  --shadow-card: 0 1px 40px 1px hsl(0, 0%, 0%, 0.3);

  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483647;
  height: 100vh;
  width: 375px;
  transform: translateX(0%);
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease;

  & * {
    line-height: 1.25;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .aside-container {
    height: 100%;
    color: var(--dark-txt);
    position: absolute;
    inset: 0;
    background-color: var(--color-main);
    backdrop-filter: blur(12px);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 40px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid var(--color-line);

    .close-icon {
      position: absolute;
      top: 4px;
      left: 4px;
      border: 1px solid var(--color-line);
      border-radius: 4px;
      background-color: #fff;
      transition-duration: 200ms;
    }

    .setting-icon-wrapper {
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;
      gap: 4px;
      align-items: center;

      .setting-icon {
        border: 1px solid var(--color-line);
        border-radius: 4px;
        background-color: #fff;
        transition-duration: 200ms;
      }
    }

    .close-all-icon {
      color: var(--color-danger);
      border: 1px solid var(--color-line);
      border-radius: 4px;
      background-color: #fff;
      transition-duration: 200ms;
    }

    .meaning-block {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;
      padding-right: 8px;
      margin-right: -4px;
      overflow: auto;

      .meaning-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 1px;
        background-color: #fff;
        padding: 12px;
        border: 2px solid var(--color-line);
        border-radius: 4px;

        &:hover {
          border-color: blueviolet;
        }

        .meaning-title {
          font-weight: 600;
        }

        .example-block {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .example-item {
            font-weight: 200;
            margin-left: 16px;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    .tab-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 100%;
      margin-top: 4px;

      .tab-label-container {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        height: 36px;
        align-items: center;
      }

      .tab-label {
        flex: 1;
        height: 100%;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;

        &-bottom {
          height: 100%;
          background-color: blueviolet;
          border-radius: 4px;
        }

        &-content {
          position: absolute;
          inset: 0;
          background-color: #fff;
          padding: 10px 4px;
          border-radius: 4px;
          border: 2px solid blueviolet;
          display: flex;
          align-items: center;
          justify-content: center;
          transition-duration: 100ms;
        }

        &:hover {
          .tab-label-content {
            transform: translate(3px, -3px);
          }
        }

        &[data-is-active="true"] {
          .tab-label-content {
            transform: translate(3px, -3px);
          }
        }
      }
    }

    .images-container {
      column-count: 2;
      background-color: white;
      gap: 8px;
      overflow: auto;

      .spell-image {
        border-radius: 4px;
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}

#visual-english-ext ::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

#visual-english-ext ::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 72%);
  border-radius: 1px;
  border: 1px solid hsl(0, 0%, 72%);
}

#visual-english-ext {
  p {
    margin: 0;
    padding: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(101%);
  }
}

#spell-book-ext-selection-point {
  position: fixed;
  z-index: 2147483647;

  & * {
    line-height: 1.25;
  }
}

.lookup-btn {
  display: flex;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(147, 51, 234),
    0 2px 4px -2px rgba(147, 51, 234);
  border-radius: 999px;
  cursor: pointer;
  transition-duration: 200ms;

  &:hover {
    transform: scale(1.15);
    transition-duration: 200ms;
  }

  & img {
    width: 20px;
    height: 20px;
  }
}
